*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table{
    border-collapse: collapse;
}
td{
    padding: 3px;
    background-color: lightblue;
    color: black;
}
th{
    background-color: indigo;
    color: white;
    padding: 3px;
}
.edit-container{
    display: none;
}